* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Norse;
    src: url('../../../public/fonts/norse.bold.otf');
}

@font-face {
    font-family: texts;
    src: url('../../../public/fonts/Poppins-ExtraLight.ttf');
}


.contenedor_Leccion1 {
    background-color: #1D2F6F;
    height: 100%;
}

.navbar_leccion1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Norse;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #1D2F6F;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.links_leccion1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    list-style: none;

}


.map_image_leccion1 {
    width: 20%;
    margin-left: 10rem;
}

.map_image_leccion1:hover{
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   


.link {
    position: relative;
    bottom: 10;
    color: #fff;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.banner_container {
    position: relative;
}

.banner_image_leccion1 {
    width: 100%;
}

.historia {
    background: linear-gradient(0deg, rgba(14, 24, 59, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Historia.png');
    background-size: cover;
}

.origen {
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Origen.jpg');
    background-size: cover;
    margin-top: 3px;
}

.barcos {
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Barcos.jpg');
    background-size: cover;
    margin-top: 3px;
}

.barcos_vikingos {
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Barcos_vikingos.jpg');
    background-size: cover;
    margin-top: 3px;
}

.title_leccion1 {
    color: #fff;
    font-family: Norse;
    font-size: 12rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.Leccion2_text {
    font-family: texts;
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: left;

}

.leccion1Left {
    padding: 1rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;

}

.leccion1Right {
    padding: 1rem;
    color: #fff;
    font-family: Norse;
    font-size: 3rem;
    top: 50%;
    background-color: #830615;
    text-align: left;
    margin-left: 200px;
}

.incursion {
    background: linear-gradient(0deg, rgba(6, 6, 73, 0.747), rgba(5, 19, 73, 0.6));
    background-size: cover;
    /* filter: grayscale(.8); */
    color: #fff;
    font-family: Norse;
    font-size: 7rem;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-de-fondo {
    /* position: absolute; */
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incursion_leccion1 {
    z-index: 100;
    position: absolute;
    background-color: rgba(2, 2, 36, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_btn{
    cursor: pointer;
    position: relative;
}

.quiz_btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.quiz_btn:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    
  }
/* a.quiz_btn:hover:after{
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

.model_container {
    display: flex;
    padding: 5rem 10rem;
}

.model_container_left {
    flex: 1;
    padding-right: 20px;
    /* Espacio entre los elementos */
}

.model_container_right {
    flex: 1;
}