* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Norse;
    src: url('../../../public/fonts/norse.bold.otf');
}

/* @font-face {
    font-family: texts;
    src: url('../../../public/fonts/UncialAntiqua-Regular.ttf');
} */
@font-face {
    font-family: texts;
    src: url('../../../public/fonts/Poppins-ExtraLight.ttf');
  }

.contenedor_Leccion1 {
    background-color: #171B2C;
    height: 100%;
}
.creacion{
    background: linear-gradient(0deg, rgba(14, 24, 59, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Historia.png');
    background-size: cover;
}

.dioses{
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Origen.jpg');
    background-size: cover;
    margin-top: 3px;
}

.leyenda{
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Barcos.jpg');
    background-size: cover;
    margin-top: 3px;
}

.ragnarok{
    background: linear-gradient(0deg, rgba(1, 1, 3, 0.2), rgba(17, 28, 70, 0.6)), url('../../img/Barcos_vikingos.jpg');
    background-size: cover;
    margin-top: 3px;
}
.navbar_leccion1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: Norse;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #171B2C;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.links_leccion1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    list-style: none;

}




.link {
    position: relative;
    bottom: 10;
    color: #fff;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.banner_container2 {
    position: relative;
    background: linear-gradient(0deg, rgba(2, 3, 8, 0.2), rgba(6, 11, 32, 0.6)), url('../../img/option4.jpg');
    background-size: cover;
    height: 500px;
}

.banner_image_leccion2 {
    width: 100%;
}


.title_leccion2 {
    color: #fff;
    font-family: Norse;
    font-size: 12rem;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-10%, -30%);
    color: white;
}

.Leccion1_text {
    font-family: texts;
    padding: 3rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: right;

}
.Leccion2_text {
    font-family: texts;
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: left;

}

.leccion2Left {
    /* padding: 1rem;
    color: #fff;
    font-family: Norse;
    font-size: 3rem;
    top: 50%;
    background-color: #830615;
    text-align: right;
    margin-right: 200px; */
    padding: 1rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;
}

.leccion2Right {
    /* padding: 1rem;
    color: #fff;
    font-family: Norse;
    font-size: 3rem;
    top: 50%;
    background-color: #830615;
    text-align: left;
    margin-left: 200px; */
    padding: 1rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;
}

/* .incursion {
    background-color: #1D2F6F;
    color: #fff;
    font-family: Norse;
    font-size: 7rem;
    text-align: center;
} */

/* .incursion_leccion1 {
    margin-bottom: 1rem;
} */

.incursion_button {
    cursor: pointer;
}

.model_container {
    display: flex;
    padding: 5rem 10rem;
  }
  
  .model_container_left {
    flex: 1;
    padding-right: 20px; /* Espacio entre los elementos */
  }
  
  .model_container_right {
   flex: 1;
 }